/*
  Colors
*/
$color-background: #e9e9e9;
$color-text: #333;
$color-blog-hover: #f79232;
$color-content-background: #fff;
$color-text-hove-in-background-color: #fff;

/*
  Sizes
*/
$size-text: 13px;
$size-text-large: $size-text * 3;
$size-text-medium: $size-text * 2;
$size-text-small: $size-text * 3/4;

$size-unit: 10px;
$size-unit-double: $size-unit * 2;
$size-unit-half: $size-unit / 2;

/*
  Global
*/
$vendors: webkit, moz, o